
body {background-color: lightgrey;}
header h1{margin-left: 10%;}

header h2{margin-left: 10%;}

header{background-color: rgb(13, 167, 52); height: 200px;width: 100%}
header li {display:inline;list-style-type: none;}
header ul{position: absolute;top: 70px;right: 115px;}
section { position:relative;bottom:50px;margin:auto;width:80%;
	height: 250px;background-color: white}
.img1{float: left;}
section h1{margin-top:10px;text-align: center;}
section h3{text-align: center;}

section ul{list-style-type: none; display: inline;text-align: center;
	font-size:15px;}
section span{font-size: 20px;font-weight: bold;}
.citation {margin:auto;width: 80%; height: 100px; background-color:white ;
text-align: center;
}
main h2{text-align: center;margin-top: 50px;padding: 20px;}
main{margin:auto;width:80%;
	background-color: white;
    
}

.exp {padding: 40px;}

.left {
	float:left;
	width:50%;
	padding: 40px;
}
.right {
	margin-left:50%;
	 width:40%;
	 padding: 40px;
}

